[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = http://github.com/rson/vim-conque.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = http://github.com/tomasr/molokai.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = http://github.com/vim-pandoc/vim-pandoc.git
