[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = http://github.com/rson/vim-conque.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = http://github.com/tomasr/molokai.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = http://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = http://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "bundle/purescript-vim"]
	path = bundle/purescript-vim
	url = https://github.com/raichoo/purescript-vim.git
